# === BACKEND (.NET / C#) ===
.vs/
bin/
obj/
*.user
*.suo
*.tmp
*.log
*.ide
*.nupkg
packages/
*.resharper
*.dotCover
*.sln.docstates
backendAPI/tarefas.json

# === FRONTEND (React / Node) ===
frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/.env
frontend/.vite
frontend/.parcel-cache/
frontend/.next/
frontend/out/
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# === AMBOS ===
logs/
*.log
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# === Arquivos de build e cache ===
*.local
*.sw?
